    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" /><meta http-equiv="PRAGMA" content="NO-CACHE" />
    <meta http-equiv="EXPIRES" content="Mon, 22 Jul 2002 11:12:01 GMT" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=Edge; Opera=9; FF=3; Chrome=1;" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
        body {
            font-family: Calibri, 'Calibri', Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
            font-size: 13px;
        }

        .menu {
            width: 99%;
            padding: 3px;
            margin-bottom: 3px;
            background: #dae6f0;
            font-size: 14px;
            text-align: center;
            color: #009;
        }

        .menu div {
            width: 49.5%;
            padding: 3px 0;
            background-color: #b5cde1;
        }

        .menu a {
            width: 49.5%;
            text-decoration: none;
            border: 0;
        }

        .menu a div {
            width: 49.5%;
            background-color: #dae6f0;
        }

        a:link, a:visited {
            color: #009;
        }

        a:hover, a:active {
            color: #f00;
        }

        .list_row {
            width: 99%;
        }

        .list_row > div {
            width: 25%;
            max-width: 170px;
        }

        .list_header {
            padding: 3px;
            margin: 5px 0 3px 0;
            background: #e25822;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
        }
    </style>
